/*
*{               asterisk(*) is symbol that affect all element 
    margin: 0;
    padding: 0;
}
*/

body{
    background-color: lightgray;
    color: #fff;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal; /* to affect the bold of the text */
    /* same as above */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.5em;
    /* Line spacing */

    margin: 0;
    /* margin is like spacing around element/border
    
    -Margin and padding shortcut

    normal use
     p{
        margin-top:5px;
        margin-bottom:5px;
        margin-right:10px;
        margin-left:10px;

     }

     shortcut
     p{
     margin:5px 10px 5px 10px;
     the format is top right bottom left
     }

     event shorter shortcut
    p{
     margin:5px 10px;
        you can use this format if the top margin is same with bottom, same goes to right and left
    }
    */


}
a{ /* Affect all links in here*/
    text-decoration: none;
    color: #333;
}
a:hover{ /* when the cursor on the link */
    color: aqua;
}

a:active{ /* when clicked */
    color:red;
}

a:visited{ /* after clicked */
    color: teal;
}
.container{
    width: 80%;
    margin: auto;
    /* container is class to change width and another, margin auto is to set the nested section/div to middle
    basically just div*/
}
.button{
    background-color:black;
    color: white;
    padding: 10px 15px;
    border: none;

}
.button:hover{
    background-color: red;
    color: white;
}
.clr{
    clear: both;
}

.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    /* create border on the right the box, the format usually size color style */
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    border: 5px red solid;
    /* Above text is shortcut to create border if all of them is the same */
    border-width: 3px;
    /* the size of border */
    border-bottom-width: 3px;
    /* for spesific use */
    border-top-style: dashed;

    border: 5px red solid;
    /* put in bottom to overwrite */

    padding: 20px;
    /* padding is like spacing inside border */

    margin: 20px 0;
    /* margin is spacing outside border */
}
.box-1 h1{ /*use this element to spesifically change h1 in box-1 */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration :underline;
    text-transform: uppercase; /* to change the text like uppercase, lowercase etc */
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    background-color: grey;
    border: 3px dotted lightcyan;
    padding: 20px;
    margin: 20px 0;

}
.categories{
    border: 1px black solid;
    padding: 10px;
    border-radius: 15px; /* affect the curve */
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 20px;
    list-style: square;
    list-style: none;
    /* change the bullet style */

}
.categories li{
    padding-bottom: 10px;
    border-bottom: dotted black 1px;
    list-style-image: url('../images/check.jpg');
}

.my-form{
    padding: 20px;

}
.my-form, .form-group{
    padding-bottom: 10px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{ /* [type="text"] is to specify so text="submit wont be affected"*/
    padding: 9px;
    width: 100%;
}
/* button change below .container */

.block{
    float: left;
    width: 33.3%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}
#main-block{ /* if use "id" instead of "class" use # instead of . to call it */
    float: left;
    width: 70%;
    margin: 10px 0;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid black;
    margin-top:10px;
    position:relative;
    background-image:url('../images/abstract.jpg');
    background-position:100px 200px; /*left right top bottom, idk why diff with margin padding format*/
    background-repeat:no-repeat;
    background-position:center center;

}
.p-box h1{
    position: absolute;
    top:40px;
    left:100px;
}
.p-box h2{
    position:absolute;
    bottom:40px;
    right:100px;
}
.fix-me{
    position:fixed; /* position fixed= the class affected will stay at the same place */
    top:400px;
}
.my-list li:first-child{ /* first child affect only first list*/
    background-color: red;
}
.my-list li:last-child{
    background: blue;
}
.my-list li:nth-child(5){ /*nth child use to spesific line*/
    background-color: yellow;
}
.my-list li:nth-child(even){
    background-color: black; /*used to even line(can be used for odd too) */
}